<div class="container">


<div class="card shadow">


<div class="card-header bg-primary text-white">

<h3>
<i class="bi bi-person-gear"></i>
Edit User
</h3>

</div>



<div class="card-body">


<form
(ngSubmit)="updateUser()">



<div class="mb-3">

<label>
Full Name
</label>


<input

type="text"

class="form-control"

name="fullName"

[(ngModel)]="user.fullName">

</div>





<div class="mb-3">

<label>
Email
</label>


<input

type="email"

class="form-control"

name="email"

[(ngModel)]="user.email">

</div>






<div class="mb-3">

<label>
Phone Number
</label>


<input

type="text"

class="form-control"

name="phoneNumber"

[(ngModel)]="user.phoneNumber">


</div>






<div class="mb-3">


<label>

Role

</label>



<select

class="form-select"

name="role"

[(ngModel)]="user.role">



<option value="">

Select Role

</option>



<option

*ngFor="let role of roles"

[value]="role.name">


{{role.name}}


</option>



</select>


</div>







<div class="form-check mb-4">


<input

class="form-check-input"

type="checkbox"

name="isActive"

[(ngModel)]="user.isActive">



<label class="form-check-label">


Active User


</label>


</div>







<button

type="submit"

class="btn btn-success"

[disabled]="loading">


<i class="bi bi-save"></i>

Update User


</button>





<button

type="button"

class="btn btn-secondary ms-2"

(click)="cancel()">



<i class="bi bi-x-circle"></i>

Cancel


</button>



</form>


</div>


</div>


</div>